MONGODB_URI=mongodb://localhost:27017/
DATABASE_NAME=urlshortener
NODE_ENV=development
FLASK_DEBUG=True
BASE_URL=http://localhost:8080
FRONTEND_URL=http://localhost:5173
ALLOWED_ORIGINS=http://localhost:5173
HASH_ID_SALT=url-shortner
PORT=8080

